In [9]:
import pandas as pd

# Đọc bộ dữ liệu từ file CSV
df = pd.read_csv(r"D:\DAP2304R1_DATA-ANALYSIS\Thao tác dữ liệu\DATA\house_price_Dống-Da_Hà-Nội_subdata.csv")

df.head()

,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,lat,long,property_type
0,50.0,14700.0,44197,So do,NaN,NaN,4.0,6.0,6.0,21.015698,105.824583,trong ngo
1,57.0,4200.0,44265,So do,Nam,Nam,3.0,8.0,4.0,21.025208,105.833111,trong ngo
2,62.0,11000.0,44268,So do,NaN,dong-Nam,6.0,5.0,6.0,21.025379,105.801011,trong ngo
3,26.0,2900.0,44292,So do,NaN,NaN,4.0,3.0,4.0,21.014325,105.834918,trong ngo
4,40.0,3950.0,44292,So do,NaN,NaN,NaN,NaN,5.0,21.009862,105.838083,trong ngo

In [2]:
# Xác định số dòng và số cột
num_rows = df.shape[0]
num_cols = df.shape[1]

# Hiển thị số dòng và số cột
print("Số dòng:", num_rows)
print("Số cột:", num_cols)

Số dòng: 671
Số cột: 12

In [6]:
# Xác định kiểu dữ liệu của các thuộc tính
data_types = df.dtypes

In [5]:

# Hiển thị kiểu dữ liệu của các thuộc tính
print("Kiểu dữ liệu của các thuộc tính:")
print(data_types)

Kiểu dữ liệu của các thuộc tính:
area                 float64
price                float64
postDate               int64
land_certificate      object
house_direction       object
balcony_direction     object
toilet               float64
bedroom              float64
floor                float64
lat                  float64
long                 float64
property_type         object
dtype: object

In [ ]:
df1 = df[['']]