In [1]:
#Đọc bộ dữ liệu:

import pandas as pd
df = pd.read_csv(r"D:\DAP2304R1_DATA-ANALYSIS\pandas_2\DATA\FoodPrice_in_Turkey.csv")
df

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [2]:
#Xét biến định tính Place:

df_place = df.loc[:,'Place']

In [3]:
df['Place'].value_counts()

National Average    2633
Istanbul            1583
Izmir               1583
Ankara              1582
Name: Place, dtype: int64

In [4]:
#count – Đếm tần suất xuất hiện của biến định tính

df_place.count()

7381

In [5]:
#min – Trả về giá trị có độ dài nhỏ nhất của biến tính

df_place.min()

'Ankara'

In [6]:
#max – Trả về giá trị có độ dài lớn nhất của biến tính

df_place.max()

'National Average'

In [7]:
#mode – Tính giá trị xuất hiện nhiều nhất của biến định tính

df_place.mode()

0    National Average
Name: Place, dtype: object